# Parse inline PHP in HTML
<FilesMatch "\.html$">
    ForceType application/x-httpd-php
</FilesMatch>

# Parse inline PHP in script.js
<Files script.js>
    ForceType application/x-httpd-php
</Files>
