@font-face {
    font-family: "Segoe UI";
    font-weight: 100;
    src: local("Segoe UI Light"), local("Segoe-UI-Light"), url("http://www.skypeassets.com/i/common/fonts/latin/segoe-ui-light-latin.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI Normal"), local("Segoe-UI-Normal"), url("http://www.skypeassets.com/i/common/fonts/latin/segoe-ui-regular-latin.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold"), local("Segoe-UI-Semibold"), url("http://www.skypeassets.com/i/common/fonts/latin/segoe-ui-semibold-latin.woff") format("woff");
}

@keyframes barrelRoll {
    to { transform: rotate(1turn); }
}

@-webkit-keyframes barrelRoll {
    to { -webkit-transform: rotate(1turn); }
}

*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    
    transition-duration: .3s;
    transition-property: none;
}

:focus {
    outline: none;
}

::selection {
    color: inherit;
    background-color: rgba(255, 255, 255, .3);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .5);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    
    font-family: "Segoe UI", sans-serif;
    color: white;
    font-size: 20px;
    
    background-color: #18a7e4;
    
    transition-property: background;
}

body.roll {
    animation: barrelRoll 3s;
    -webkit-animation: barrelRoll 3s;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

strong {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

p {
    margin: 20px 0;
    font-weight: 100;
}

header, section {
    position: absolute;
    height: 100%;
    top: 0;
}

header {
    left: 0;
    width: 250px;
    padding: 50px 31px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

header img {
    width: 150px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    
    transition-property: transform, box-shadow;
}

header img:hover {
    transform: scale(.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

header img:active {
    transform: none;
}

header nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 50px;
}

header nav > a {
    display: block;
    position: relative;
    margin-bottom: 5px;
    
    padding: 5px;
    padding-left: 70px;
    padding-bottom: 7px;
    
    background-size: 20px;
    background-position: 40px;
    background-repeat: no-repeat;
    
    transition-property: background;
}

header nav > a:hover {
    background-color: rgba(255, 255, 255, .15);
}

header nav > a.current {
    background-color: rgba(0, 0, 0, .3);
}

h1 {
    font-size: 2.7em;
    line-height: .9;
    font-weight: 300;
    text-align: center;
}

section {
    background-color: rgba(0, 0, 0, .3);
    right: 0;
    width: calc(100% - 250px);
    padding: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: none;
    opacity: 0;
    
    transition-property: opacity;
}

section.visible {
    pointer-events: auto;
    opacity: 1;
}

section h2 {
    font-size: 1.7em;
    margin: 10px 0;
}

section img {
    max-width: 100%;
    margin: 10px 0;
}

section img, .module.news-stream li.expanded, .module.news-stream li:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.module.member-list {
    list-style: none;
    display: block;
}

.module.member-list li {
    display: inline-block;
    width: 180px;
    max-height: 180px;
    vertical-align: top;
    margin: 12px;
    
    transition-property: max-height;
    
    /* some dynamic style added by script.js */
}

.module.member-list li.general .snippet {
    box-shadow: 0 0 0 5px #e4bb18, 0 3px 7px 3px rgba(0, 0, 0, .3);
}

.module.member-list li.apprentice .snippet {
    box-shadow: 0 0 0 5px #ccc, 0 3px 7px 3px rgba(0, 0, 0, .3);
}

.module.member-list li.general .snippet:hover, .module.member-list li.general.expanded .snippet {
    box-shadow: 0 0 0 5px #e4bb18, 0 5px 10px 5px rgba(0, 0, 0, .3);
}

.module.member-list li.apprentice .snippet:hover, .module.member-list li.apprentice.expanded .snippet {
    box-shadow: 0 0 0 5px #ccc, 0 5px 10px 5px rgba(0, 0, 0, .3);
}

.module.member-list li .snippet {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: .8em;
    font-weight: 100;
    text-align: center;
    cursor: pointer;
    margin: 15px;
    
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    
    transition-property: box-shadow;
}

.module.member-list li .snippet h4 {
    font-weight: 600;
}

.module.member-list li .detail {
    margin: 20px 50px;
    margin-top: 31px;
    padding: 20px 31px;
    width: 100vw;
    width: calc(100vw - 350px);
    height: 230px;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    
    transition-property: opacity;
    
    /* some dynamic style added by script.js */
}

.module.member-list li .detail h3 {
    margin: 5px 0;
}

.module.member-list li .detail h4 {
    font-weight: 400;
    color: rgba(255, 255, 255, .8);
}

.module.member-list li .detail-arrow {
    position: absolute;
    
    margin-top: 16px;
    margin-left: 75px;
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent rgba(0, 0, 0, .3) transparent;
    opacity: 0;
    
    transition-property: opacity;
    
    /* some dynamic style added by script.js */
}

.module.member-list li.expanded .detail {
    opacity: 1;
    pointer-events: auto;
}

.module.member-list li.expanded .detail-arrow {
    opacity: 1;
}

.module.member-list li.expanded {
    max-height: 430px;
}

.module.member-list li .detail p {
    margin: 20px 0;
}

header nav span {
    font-size: .6em;
    display: block;
    color: rgba(255, 255, 255, .5);
}

body.yellow {
    background-color: #e4bb18;
}

body.red {
    background-color: #e41841;
}

header nav .burger {
    display: none;
}

input, textarea, button {
    font-size: inherit;
    font-family: inherit;
    border-radius: 0;
    border: solid 2px rgba(255, 255, 255, .2);
    display: block;
    margin: 20px 0;
    color: inherit;
    max-width: 100%;
}

input, textarea {
    background: rgba(255, 255, 255, .2);
    padding: 10px;
    width: 500px;
    resize: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7);
}

button {
    padding: 7px 10px;
    background: transparent;
    cursor: pointer;
    
    transition-property: background;
}

button:hover {
    background-color: rgba(255, 255, 255, .2);
}

#contact form {
    margin-bottom: 50px;
}

.social-links {
    text-align: left;
}

.social-links a {
    display: inline-block;
    background: red;
    margin: 5px;
    margin-left: 0;
    padding: 7px 10px;
    padding-left: 40px;
    
    background-size: 25px;
    background-position: 8px center;
    background-repeat: no-repeat;
}

.social-links a.fb {
    background-image: url(img/social/fb.png);
    background-color: #3b5998
}

.social-links a.tw {
    background-image: url(img/social/twitter.png);
    background-color: #5eaade;
}

.social-links a.sug {
    background-image: url(img/social/mail.png);
    background-color: #f2ca39;
}

.module.news-stream {
    width: 100%;
}

.module.news-stream li {
    width: calc(50% - 10px);
    padding-bottom: 50px;
    margin: 10px 0;
    display: block;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    max-height: 500px;
    
    transition-property: width, box-shadow, opacity, left;
}

.module.news-stream li p {
    margin: 0;
}

.module.news-stream li img {
    margin: 10px;
}

.module.news-stream li .entryinfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 13px 31px;
    background-color: #e41841;
    font-weight: 300;
    font-size: .8em;
}

.module.news-stream li .entry-container {
    padding: 31px;
    padding-top: calc(31px - 15px);
    background-color: rgba(0, 0, 0, .3);
    
    transition-property: padding;
}

.module.news-stream li .entry-deco {
    width: calc(100% - 15px);
    height: 15px;
    background-color: rgba(0, 0, 0, .3);
}

.module.news-stream li .entry-deco:after {
    content: "";
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 0 15px;
    border-color: transparent transparent transparent rgba(255, 255, 255, .3);
    
    position: absolute;
    right: 0;
    top: 0;
}

.module.news-stream li.overflow .entry-container:after {
    content: "Continue reading...";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    
    font-size: .9em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 60px;
    background-image: linear-gradient(transparent, #6F0B1F 50px);
    
    transition-property: opacity;
}

.module.news-stream li p a {
    color: #18a7e4;
}

.module.news-stream li p a:hover {
    border-bottom: solid 1px #18a7e4;
}

.module.news-stream li.expanded {
    width: 100%;
    z-index: 1;
    left: 0 !important;
    max-height: none;
}

.module.news-stream li.expanded .entry-container {
    padding: 50px;
}

.module.news-stream li.expanded .entry-container:after {
    opacity: 0;
}

.module.news-stream.dimmed li:not(.expanded) {
    opacity: .3;
    pointer-events: none;
}

[data-icon="info"] {
    background-image: url(img/ui/info.svg);
}

[data-icon="people"] {
    background-image: url(img/ui/people.svg);
}

[data-icon="news"] {
    background-image: url(img/ui/news.svg);
}

[data-icon="contact"] {
    background-image: url(img/ui/contact.svg);
}

@media only screen and (max-height: 550px) and (min-width: 551px) { /* big screen, small height */
    header img {
        width: 150px;
        margin-bottom: 7px;
    }
    
    h1 {
        font-size: 2.3em;
    }
    
    header nav {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 550px) { /* mobile */
    *, :before, :after {
        transition-duration: 0 !important;
        transition-property: none !important;
    }
    
    header, section {
        width: 100%;
    }
    
    header {
        padding: 13px;
        box-shadow: none;
    }
    
    section {
        padding: 17px 20px;
    }
    
    header nav span {
        display: none;
    }
    
    header img {
        width: 50px;
        float: left;
        margin: 0;
    }
    
    h1 {
        font-size: 1.7em;
        vertical-align: top;
        margin-top: 5px;
        margin-left: 10px;
        float: left;
    }
    
    header nav {
        position: fixed;
        top: 76px;
        left: 0;
        bottom: auto;
        z-index: 2;
        padding: 0;
        height: 47px;
        overflow-y: hidden;
        padding-top: 47px;
        background-color: #46B8E8;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    }
    
    body.yellow header nav {
        background-color: #EACF61;
    }
    
    body.red header nav {
        background-color: #E84666;
    }
    
    header nav.expanded {
        height: calc(100% - 76px);
    }
    
    header nav.expanded .burger {
        background-image: url(img/ui/cross.svg);
    }
    
    header nav > a {
        display: block;
        padding: 10px 20px;
        padding-left: 70px;
        height: auto;
    }
    
    section {
        height: calc(100% - 76px - 47px);
        top: auto;
        bottom: 0;
    }
    
    .module.member-list {
        text-align: center;
    }
    
    .module.member-list li {
        width: 120px;
        height: 120px;
    }
    
    .module.member-list li .snippet {
        padding-top: 40px;
    }
    
    header nav .burger {
        display: block;
        cursor: pointer;
        height: 47px;
        width: 47px;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 20px;
        
        background-image: url(img/ui/burger.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (max-width: 1000px) { /* width 1000px */
    .module.news-stream {
        height: auto !important;
    }
    
    .module.news-stream li {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        width: 100%;
    }
}