body {
    font-family: sans-serif;
}

#file-list {
    display: inline-block;
}

#file-list li {
    cursor: pointer;
    display: block;
    padding: 5px;
}

#file-list li:hover {
    font-weight: 700;
}

#file-list li.current {
    background-color: #ccc;
    font-weight: 700;
}

#editor {
    padding: 20px;
    background: #ddd;
}

#editor > * {
    max-width: 100%;
}

#editor li {
    display: block;
    background-color: #bbb;
    color: #555;
    border: 1px solid #555;
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    position: relative;
    cursor: move;
}

#editor li img {
    max-width: 500px;
}

#editor li.sortable-ghost {
    opacity: 0;
}

#editor li > h2 {
    margin: 0;
}