*, :before, :after {
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Segoe UI", "Segoe", "Roboto", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #ddd;
}

aside h2 {
    text-align: center;
}

#file-list {
    display: block;
    padding: 0;
}

#file-list li {
    cursor: pointer;
    display: block;
    padding: 5px;
    padding-left: 20px;
}

#file-list li:hover {
    font-weight: 700;
}

#file-list li.current {
    background-color: #ccc;
    font-weight: 700;
}

#editor-container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 200px);
    height: 100%;
    padding: 20px;
}

#editor {
    padding: 10px;
    background: #ddd;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
}

#editor > * {
    max-width: 100%;
}

#editor li {
    display: block;
    background-color: #bbb;
    color: #555;
    border: 1px solid #555;
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    position: relative;
    cursor: move;
}

#editor li img {
    max-width: 500px;
}

#editor li.sortable-ghost {
    background: none;
    color: transparent;
    border: 1px dotted rgba(0, 0, 0, .3);
}

#editor li.sortable-ghost * {
    opacity: 0;
}

#editor li > h2 {
    margin: 0;
}